{% extends 'layout.jinja2' %}

{% block styles %}

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/home.css') }}"
        type="text/css"
    />

{% endblock %}


{% block content %}

    <h1>Trip Planner</h1>
    <ul>
      <li>
          <a href="{{ url_for('bookinghotel') }}">
              Hotel Search <i class="fas fa-chevron-right"></i>
          </a>
      </li>
      <li>
          <a href="#">
              Flight Search <i class="fas fa-chevron-right"></i>
          </a>
      </li>
    </ul>

{% endblock %}